.grid {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  gap: 10px;
  border: 1px dashed #000;

  .grid-item {
    min-width: 10px;
    min-height: 150px;
    border: 1px dashed #000;

    text-align: center;
    font-size: 30px;
  }

  .grid-item1 {
    background-color: rgb(198, 79, 79);
    grid-column: span 2;
  }
  .grid-item2 {
    background-color: rgb(38, 102, 38);
    grid-column: span 2;
    grid-row: span 2;
  }
  .grid-item3 {
    background-color: rgb(106, 106, 153);
    grid-row: span 2;
  }
  .grid-item4 {
    background-color: rgba(42, 187, 119, 0.574);
  }
  .grid-item5 {
    background-color: rgba(64, 71, 206, 0.574);
  }
  .grid-item6 {
    background-color: rgba(173, 206, 64, 0.574);
  }
  .grid-item7 {
    background-color: rgba(222, 155, 54, 0.574);
  }
  .grid-item8 {
    background-color: rgba(116, 230, 16, 0.574);
  }
  .grid-item9 {
    background-color: aquamarine;
    grid-column: span 2;
  }
  .grid-item10 {
    background-color: yellowgreen;
    grid-column: span 2;
  }
  .grid-item11 {
    background-color: rgb(53, 181, 213);
  }
}
